* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #f7f7f7;
}

/* Barra de Scroll 
Navegadores basados en CRHOME
*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
    background: #D2B48C;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b49972;
}