@font-face {
    font-family: 'QuickSand';
    src: url('../fonts/QuickSand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'QuickSandBold';
    src: url('../fonts/QuickSand/Quicksand-Bold.ttf');
}

.font-quicksand-regular {
    font-family: 'QuickSand';
}

.font-quicksand-bold{
    font-family: 'QuickSandBold';
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #f7f7f7;
}

/* Barra de Scroll 
Navegadores basados en CRHOME
*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
    background: #6B4F3B;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A97142;
}